<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <title>Best Restaurants</title>
</head>

<body>
    <div class="container">
        <h1>{{ cuisine.getFoodType }}</h1>

        {% if restaurants is not empty %}
        <p>Here be restaurants servered the cuisine you want: </p>
        <ul>
            {% for restaurant in restaurants %}
                <li>{{restaurant.getRestaurant}} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <h4>Add a new restaurant</h4>
        <form action="/relevant_restaurants" method="post">

            <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">

            <label for='restaurant'>Restaurant Name</label>
            <input id='restaurant' name='restaurant' type='text'>

            <button type="submit" class="btn btn-danger">Add a new Restaurant</button>
        </form>

    </div>
</body>
</html>
